@model IEnumerable<WebCore.Models.FileData>

@{
    ViewData["Title"] = "AccessoriesGeneric";
}

<h2>AccessoriesGeneric</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
            <td>
                @item.ImageFile
            </td>
            <td>
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/toys/ferret2.jpg" style="width:30%;padding-top:3px;" />
                </a>
            </td>
            <td>
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="@item.ImageFile" style="width:30%;padding-top:3px;" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
